#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Icon[en_US]=gnome-volume-control
Terminal=true
Name[en_US]=Winamp
Comment[en_US]=Run winamp using wine emulator
Exec=sh -c cd /home/seth/.wine/drive_c/Program Files/Winamp/; wine /home/seth/.wine/drive_c/Program Files/Winamp/winamp.exe
Name=Winamp
Comment=Run winamp using wine emulator
Icon=gnome-volume-control
